:root {
    --fondo: #f1f1f1;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    line-height: 1.5;
    background-color: var(--fondo);
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 50px;
}

.container h1 {
    font-size: 40px;
    margin-bottom: 0;
}

.note {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
}

#añadir-nota img {
    width: 40px;
}

#añadir-nota {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dab4f3;
    border-radius: 50px;
    height: 60px;
    width: 60px;
    margin-bottom: 35px;
    margin-left: 20px;
    cursor: pointer;
    border: none;
    margin-top: 25px;
}

#añadir-nota:hover {
    opacity: 60%;
}

#añadir-nota:active {
    opacity: 100%;
}

.nota-nueva {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border-radius: 20px;
    height: 300px;
}

.solo-notas-nuevas {
    animation:scale-up-tl .4s cubic-bezier(.39,.575,.565,1.000)
}

@keyframes scale-up-tl{0%{transform:scale(.5);transform-origin:0 0}100%{transform:scale(1);transform-origin:0 0}}

.nota-nueva h2,
.nota-nueva p {
    margin: 0;
}

.nota-nueva h2 {
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 20px;
}

.vacio {
    margin: 0;
    text-transform: uppercase;
}

.notas-vacio {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border-radius: 20px;
    height: 300px;
}

.nota,
.vacio {
    padding: 15px;
}

#aceptar {
    background: #dab4f3;
    border: none;
}

.btn.btn-secondary {
    background-color: #212529de;
    border: none;
}

.modal-footer {
    border-top: none !important;
}

.modal-header {
    border-bottom: none !important;
}

div {
    word-wrap: break-word;
}

#borrar {
    width: 25px;
    cursor: pointer;
    position: absolute;
    margin: 0 auto;
    margin-left: 250px;
    margin-top: 250px;
}


#borrar:hover {
    filter: invert(75%) sepia(74%) saturate(5751%) hue-rotate(234deg) brightness(105%) contrast(88%);
}

#borrar:active {
    opacity: 60%;
}


p.fecha {
    margin: 0 auto;
    position: absolute;
    margin-top: 253px;
    font-size: 12px;
    padding: 1px 5px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

p.texto {
    padding: 10px;
}

h2#asunto {
    margin: 25px 10px 0px 10px;
    color: #be74f0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
    padding-bottom: 10px;
}

.form-check {
    position: absolute;
    margin: 0 auto;
    margin-left: 250px; 
}

.form-check input {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.form-check input:focus {
    box-shadow: none;
}

.form-check-input:checked {
    background-color: #7cda9b!important;
    border-color: #7cda9b!important;
}

.form-check-input[type=checkbox] {
    border-radius: 50%!important;
}

