:root {
    --fondo: #f1f1f1;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    line-height: 1.5;
    background-color: var(--fondo);
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 50px;
}

.container h1 {
    font-size: 40px;
    margin-bottom: 0;
}

.note {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, 265px);
    justify-content: center;
}

.a単adir-nota img {
    width: 40px;
}

.a単adir-nota {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff555d;
    border-radius: 50px;
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
    margin-left: 20px;
    cursor: pointer;
    border: none;
}

.a単adir-nota:hover {
    opacity: 60%;
}

.a単adir-nota:active {
    opacity: 100%;
}


.nota-nueva {
    background: #ccc7cc5b;
    border-radius: 20px;
    height: 265px;
}

.nota-nueva h2, 
.nota-nueva p {
    margin: 0;
}

.nota-nueva h2 {
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 20px;
}

.vacio {
    margin: 0;
    text-transform: uppercase;
}

.notas-vacio {
    display:flex;
    justify-content: center;
    align-items: center;
    background: #ccc7cc5b;
    border-radius: 20px;
    height: 265px;
}

.nota, .vacio {
    padding: 15px;
}

#aceptar {
    background-color: #ff555d;
    border: none;
}

.btn.btn-secondary {
    background-color: #212529de;
    border: none;
}

.modal-footer {
    border-top: none!important;
}

.modal-header{
    border-bottom: none!important;
}

div {
    word-wrap: break-word;
}

#borrar {
    width: 25px;
    cursor: pointer;
    position: absolute;
    margin: 0 auto;
    margin-left: 215px;
    margin-top: 215px;
}

#borrar:hover {
    filter: invert(53%) sepia(23%) saturate(5230%) hue-rotate(320deg) brightness(92%) contrast(118%);
}

#borrar:active {
    opacity: 60%;
}

