:root {
    --fondo: #f1f1f1;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    line-height: 1.5;
    background-color: var(--fondo);
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 50px;
}

.container h1 {
    font-size: 40px;
    margin-bottom: 0;
}

.note {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
}

#añadir-nota img {
    width: 40px;
}

#añadir-nota {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff555d;
    border-radius: 50px;
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
    margin-left: 20px;
    cursor: pointer;
    border: none;
}

#añadir-nota:hover {
    opacity: 60%;
}

#añadir-nota:active {
    opacity: 100%;
}


.nota-nueva {
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9,
        -20px -20px 60px #ffffff;
    border-radius: 20px;
    height: 300px;
}

.nota-nueva h2,
.nota-nueva p {
    margin: 0;
}

.nota-nueva h2 {
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 20px;
}

.vacio {
    margin: 0;
    text-transform: uppercase;
}

.notas-vacio {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9,
        -20px -20px 60px #ffffff;
    border-radius: 20px;
    height: 300px;
}

.nota,
.vacio {
    padding: 15px;
}

#aceptar {
    background-color: #ff555d;
    border: none;
}

.btn.btn-secondary {
    background-color: #212529de;
    border: none;
}

.modal-footer {
    border-top: none !important;
}

.modal-header {
    border-bottom: none !important;
}

div {
    word-wrap: break-word;
}

#borrar {
    width: 25px;
    cursor: pointer;
    position: absolute;
    margin: 0 auto;
    margin-left: 250px;
    margin-top: 250px;
}

#editar {
    width: 25px;
    cursor: pointer;
    position: absolute;
    margin: 0 auto;
    margin-left: 245px;
}


#editar:hover {
    filter: invert(53%) sepia(23%) saturate(5230%) hue-rotate(320deg) brightness(92%) contrast(118%);
}

#editar:active {
    opacity: 60%;
}

#borrar:hover {
    filter: invert(53%) sepia(23%) saturate(5230%) hue-rotate(320deg) brightness(92%) contrast(118%);
}

#borrar:active {
    opacity: 60%;
}

p.fecha {
    margin: 0 auto;
    position: absolute;
    margin-top: 255px;
    font-size: 12px;
    background-color: #ff555d;
    padding: 1px 5px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

p.texto {
    padding: 10px;
}

h2#asunto {
    margin: 25px 10px 10px 10px;
}

#editar-nota {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    cursor: pointer;
    border: none;
    padding-left: 263px;
    margin-top: 10px;
}
